{% extends 'base.html' %}
{% load staticfiles %}
{% block homelink %}../{% endblock %}
{% block homelink1 %}../{% endblock %}
{% block upcoming %}../upcoming_events{% endblock %}
{% block upcoming1 %}../upcoming_events{% endblock %}
{% block past %}../past_events{% endblock %}
{% block about %}../about{% endblock %}
{% block gallery%}../gallery{% endblock %}
{% block contact %}../contact{% endblock %}
{% block contact_active %}class = "active"{% endblock %}
{% block content %}
    <section style="background-repeat: no-repeat; opacity: 0.65; background-size: cover; background-image: url('{% static 'assets/images/back3.jpg' %}');
     " id="banner">
                    <div class="inner">

						<header>
							<h2>Contact</h2>
						</header>
					</div>

    </section>
    <article id="main" style="margin-top: -10%;">
      <header class="special container">
          <h2>Meet our Members</h2>
      </header>

    <div class="row">
        <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/councillor.jpg' %}" alt="Councillor" style="width:100%">
      <div class="container">
        <h2>Dr. T. Sree Sharmila</h2>
        <p>Student Branch Counsellor</p>
        <p>sreesharmilat@ssn.edu.in</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/kavin.jpg' %}" alt="Kavin" style="width:100%">
      <div class="container">
        <h2>Kavin D</h2>
        <p>Chair</p>
        <p>kavind1996@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/arjun.jpg' %}" alt="Arjun" style="width:100%">
      <div class="container">
        <h2>Arjun</h2>
        <p>Co-chair</p>
        <p>arjun4121996@gmail.com</p>
      </div>
    </div>
  </div>

</div>
    <div class="row">
        <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/11.jpg' %}" alt="Ramya" style="width:100%">
      <div class="container">
        <h2>Ramya</h2>
        <p>Content developer</p>
        <p>ramya1996@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/madhavan.jpg' %}" alt="Madhavan" style="width:100%; height: 280px;">
      <div class="container">
        <h2>Madhavan</h2>
        <p>Secretary</p>
        <p>madhavan1997@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/shilpa.jpg' %}" alt="Shilpa" style="width:100%">
      <div class="container">
        <h2>Shilpa</h2>
        <p>Co-secretary</p>
        <p>shilpa4121996@gmail.com</p>
      </div>
    </div>
  </div>

</div>
    <div class="row">
        <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/vasanth.jpg' %}" alt="Vasanth" style="width:100%; height: 280px;">
      <div class="container">
        <h2>Vasanth Kumar</h2>
        <p>Treasurer</p>
        <p>vasanthkumar1996@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/chamow.jpg' %}" alt="ChaMow" style="width:100%; height: 280px;">
      <div class="container">
        <h2>Chandramowli</h2>
        <p>Web Architect</p>
        <p>chamow97@hotmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'assets/images/contact/sidd.jpg' %}" alt="Siddique" style="width:100%; height: 280px; ">
      <div class="container">
        <h2>Siddique</h2>
        <p>UI/UX Designer</p>
        <p>siddijafr@gmail.com</p>
      </div>
    </div>
  </div>

</div>

    </article>
{% endblock %}