{% extends 'base.html' %}
{% load staticfiles %}
{% block homelink %}../{% endblock %}
{% block homelink1 %}../{% endblock %}
{% block homelink2 %}/{% endblock %}
{% block upcoming %}../upcoming_events{% endblock %}
{% block upcoming1 %}../upcoming_events{% endblock %}
{% block past %}../past_events{% endblock %}
{% block about %}../about{% endblock %}
{% block gallery%}../gallery{% endblock %}
{% block contact %}../contact{% endblock %}
{% block contact_active %}class = "active"{% endblock %}
{% block content %}
    <section style="background-repeat: no-repeat; opacity: 0.65; background-size: cover; background-image: url('{% static 'assets/images/back3.jpg' %}');
     " id="banner">
                    <div class="inner">

						<header>
							<h2>Contact</h2>
						</header>
					</div>

    </section>
    <article id="main" style="margin-top: -10%;">
      <header class="special container">
          <h2>Meet our Members</h2>
      </header>

    <div class="row">
{#        <div class="column">#}
{#    <div class="card">#}
{#      <div class="container">#}
{#        <h2>Dr. T. Sree Sharmila</h2>#}
{#        <p>Student Branch Counsellor</p>#}
{#        <p>sreesharmilat@ssn.edu.in</p>#}
{#          <p></p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Kavin D</h2>
        <p>Chair</p>
        <p>kavindhans@gmail.com</p>
          <p>+91 9688577787</p>
          <p>IEEE Membership ID: 93290947</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Arjun</h2>
        <p>Co-chair</p>
        <p>arjun4121996@gmail.com</p>
          <p>+91 9952048517</p>
          <p>IEEE Membership ID: 93804723</p>
      </div>
    </div>
  </div>
        <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ramya</h2>
        <p>Co-Secretary</p>
        <p>shilpajr@rocketmail.com</p>
          <p>+91 9840866707</p>
          <p>IEEE Membership ID: 94009407</p>
      </div>
    </div>
  </div>

</div>
    <div class="row">

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>T R Madhavan</h2>
        <p>Secretary</p>
        <p>trrsmadhavan@gmail.com</p>
          <p>+91 8939562445</p>
          <p>IEEE Membership ID: 93713299</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ruba M</h2>
        <p>Co-secretary</p>
        <p>ruba18aug@gmail.com</p>
          <p>+91  9578443565</p>
          <p>IEEE Membership ID: 94176607</p>
      </div>
    </div>
  </div>
 <div class="column">
    <div class="card">
      <div class="container">
        <h2>Vassante Kumar.S</h2>
        <p>Treasurer</p>
        <p>vassante14112@mech.ssn.edu.in</p>
          <p>+91 9600156262</p>
          <p>IEEE Membership ID: 94157755</p>
      </div>
    </div>
</div>
    <div class="row">
<div class="column">
    <div class="card">
      <div class="container">
        <h2>Ramya Rathna Kumar</h2>
        <p>Student Activities Chair</p>
        <p>ramyaarathnamanjula@gmail.com</p>
          <p>+91 7299808614</p>
          <p>IEEE Membership ID: 94166296</p>
      </div>
    </div>
</div>
        <div class="column">
    <div class="card">
      <div class="container">
        <h2>Chandramowli</h2>
        <p>Web Architect</p>
        <p>chamow97@hotmail.com</p>
          <p>+91 9445640398</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Siddique</h2>
        <p>UI/UX Designer</p>
        <p>siddijafr@gmail.com</p>
          <p>+91 80564 10788</p>
      </div>
    </div>
  </div>
  </div>


</div>

    </article>
{% endblock %}