{% extends 'base.html' %}
{% load staticfiles %}
{% block homelink %}../{% endblock %}
{% block homelink1 %}../{% endblock %}
{% block upcoming %}../upcoming_events{% endblock %}
{% block upcoming1 %}../upcoming_events{% endblock %}
{% block past %}../past_events{% endblock %}
{% block about %}../about{% endblock %}
{% block gallery%}../gallery{% endblock %}
{% block contact %}../contact{% endblock %}
{% block gallery_active %}class = "active"{% endblock %}
{% block content %}
    <section id="banner">
        <h2>Gallery</h2>
    </section>
    <div class="slide-box">
    {% for item in images %}
        {% static "assets/gallery" as baseUrl %}
        <img style="height: 200px; width: 200px;" class="slide" src="{{ baseUrl }}/{{item.photo_number}}.jpg" />
    {% endfor %}
    </div>

{% endblock %}