{% extends 'base.html' %}
{% load staticfiles %}
{% block homelink %}../{% endblock %}
{% block homelink1 %}../{% endblock %}
{% block upcoming %}../upcoming_events{% endblock %}
{% block upcoming1 %}../upcoming_events{% endblock %}
{% block past %}../past_events{% endblock %}
{% block about %}../about{% endblock %}
{% block gallery%}../gallery{% endblock %}
{% block contact %}../contact{% endblock %}
{% block event_active %}class = "active"{% endblock %}
{% block content %}
    <section id="banner">
    <br><br><br><br>
        <h2 style="font-weight: bolder; font-size: 40px;">Upcoming Events</h2>
    </section>
      <article id="main">
      <header class="special container">
          <h2 style="margin-top: 7%;"><strong>Technology Awareness Programme on <br> Artificial Intelligence and Machine Learning</strong></h2>
          <br>
          <a target="_blank" style="display: inline-block;" href="https://in.explara.com/e/technology
-awarness-programme-on-artificial-intelligence-and-machine-learning"><button class="button" style="height:80px;width:300px">Click here to Register</button></a>
          <br>
          <br>
          <img style="width: 80%; height: 60%;" src="{% static 'assets/images/events/1-cover.jpg' %}">
          <p>
              Aug 17, 2017 08:00 AM - 04:00 PM
          </p>

          
          <h2><strong>Objectives of the Program</strong></h2>
          <br>
          <ul>
              <li>To give exposure on the fundamental and advanced concepts in the field of AI and ML.</li>
              <li>To motivate participants to do research in the area of AI and ML.</li>
          </ul>
          <h2><strong>Perks of the Program</strong></h2>
          <br>
          <ul style="list-style-type: circle; text-align: left; margin-left: 15%;">
              <li>All the participants would get certificates.</li>
              <li>The participants would get a opportunity to meet Industrialist and young Professionals from renowned companies and startups.</li>
              <li>The sessions would be more demonstrative rather than theoretical.</li>
          </ul>
          <h2><strong>Outcomes of the Program</strong></h2>
          <br>
          <ul style="list-style-type: circle; text-align: left; margin-left: 15%;">
              <li>Benefit students who want to pursue their career in AI and ML.</li>
              <li>Insipire buddin Engineers and industry delegates to do innovative research work.
              </li>
              <li>The sessions would be more demonstrative rather than theoretical.</li>
          </ul>
          <br>
          <h2><strong><a>Registration</a></strong></h2>
          <br>
          <p><strong>Register - <a target="_blank" href="https://in.explara.com/e/technology
-awarness-programme-on-artificial-intelligence-and-machine-learning">Here</a></strong></p>
          <p><strong>IEEE Student Members - Rs. 300/-</strong></p>
          <p><strong>Non-IEEE Student Members - Rs. 400/-</strong></p>

          <p><strong>NOTE: Lunch and Snacks will be provided.</strong></p>
          <br>
          <h2><strong>Brochure</strong></h2>
          <br>
          <img class="brochure" src="{% static 'assets/images/brochure/1-brochure-front.jpg' %}">
          <img class="brochure" src="{% static 'assets/images/brochure/1-brochure-back.jpg' %}">
          <br>
          <br>
          <h2><strong>Contact</strong></h2>
          <p>Kavin D - +91-9688577787</p>
          <p>Arjun Prasad - +91-9952048517</p>
      </header>
    </article>
{% endblock %}